{{> head}}

   {{> navbar}}

<div class="row">
  <div class="col-8">
    <h1>Perfil Pedro</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae eaque quia adipisci velit nisi saepe consequuntur, eligendi cumque excepturi et consequatur aliquam! Mollitia fuga, culpa voluptatum veniam vitae voluptates error.</p>
  </div>
  <div class="col-4">
    <img src="assets/img/perfil.jpg" class="img-thumbnail" width="200" height="200" alt="">
  </div>
</div>
{{> footer}}